{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Расчет выручки{% endblock title %}
{% block content %}
<h1 class="text-center">Расчет выручки</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Общий объем выручки</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ revenue }} руб.</td>
    </tr>
  </tbody>
</table>

<h3 class="text-center">Оплаченные заказы</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID заказа</th>
      <th scope="col">Номер стола</th>
      <th scope="col">Статус заказа</th>
      <th scope="col">Дата и время создания заказа</th>
      <th scope="col">Список заказанных блюд</th>
      <th scope="col">Общая стоимость заказа</th>
    </tr>
  </thead>
  <tbody>
    {% for order in paid_orders %}
    <tr>
      <td>
        <a href="{% url 'orders:detail_order' order.id %}">{{ order.id }}</a>
      </td>
      <td>{{ order.table_number }}</td>
      <td>{{ order.get_status_display }}</td>
      <td>{{ order.created_at|date:"H:i, d.m.Y" }}</td>
      <td>
        {% for item in order.items.all %}
          {{ item }} {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>{{ order.total_price }} руб.</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center">Ничего не найдено</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}